@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700);
body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  margin: 0;
  background-color: #dbdbdb;
  color: #212121;
}

.header {
  background-color: #212121;
  padding: 0 45px;
  color: #dbdbdb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-weight: bold;
  padding: 10px;
}

.nav a {
  color: #dbdbdb;
  text-decoration: none;
}
.nav a:hover {
  color: #76323f;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-left: 20px;
}

.home {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 45px 20px;
  display: flex;
}

.home h1 {
  font-size: 3.8rem;
  margin: 0;
}

.home p {
  font-size: 1.3rem;
  line-height: 1.6;
}

.video {
  background-color: #212121;
  color: #dbdbdb;
  text-decoration: none;
  padding: 4px 4px;
  border-radius: 8px;
  font-size: 1.2rem;
  display: inline-block;
}
.video:hover {
  background-color: #76323f;
  transform: rotate(3deg);
}

.name {
  color: #76323f;
}

.footer {
  position: sticky;
  top: 100%;
  background-color: #212121;
  padding: 20px 45px;
  color: #dbdbdb;
}

.footerInner {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer a {
  font-size: 1.5rem;
  color: #dbdbdb;
  text-decoration: none;
}

.footer a:hover {
  color: #76323f;
}

img {
  position: relative;
  top: -150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #212121;
}
.card {
  background-color: #dbdbdb;
  border-width: 5px;
  border-color: #212121;
  border-radius: 0px;
}
.card-group h5 {
  color: #212121;
  font-size: 3rem;
}

.card a {
  background-color: #212121;
}

.card a:hover {
  background-color: #76323f !important;
  transform: rotate(3deg);
}

.links {
  margin: auto;
  width: 250;
  height: 250;
  text-align: center;
  line-height: 1.5;
  font-size: 1.2rem;
}

.links a {
  text-decoration: none;
  font-weight: bold;
  color: #76323f;
}

.links a:hover {
  color: #dbdbdb;
  text-decoration: none;
  padding: 4px 3px;
  border-radius: 8px;
  background-color: #212121;
}
